body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
}
header {
  height: 400px;
  width: 100%;
  background-image: url("./../asset/eventBg-max.jpg");
  background-size: cover;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.upcomeSection {
  margin: 0 60px;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.AlleventContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.AlleventHeading {
  position: relative;
  text-align: center;
}

.AlleventHeading h1 {
  display: inline;
  font-size: 34px;
}

.AlleventHeading .underline {
  position: absolute;
  bottom: -6px;
  left: 25%;
  height: 3px;
  width: 50%;
  background-color: #ffbd39;
  border-radius: 25px;
}

.pastSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.eventCollection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.eventBoxContainer {
  margin-top: 10px;
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: #f5c464;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  /* opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease, opacity 0.5s ease; */
}
/* .eventBoxContainer:nth-child(even){
    align-self: flex-end;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.8s ease, opacity 0.5s ease;
  }
  .eventBoxContainer.reveal {
    opacity: 1;
    transform: translateX(0%);
  } */
.eventBoxContainer img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.eventImg {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70%;
}
.eventPoster {
  width: 40%;
}

.flexImg {
  width: 60%;
  display: flex;
  gap: 10px;
}
.flexImg img {
  width: 50%;
}

.eventContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 00px 10px 0px;
}

.eventBoxContainer h3 {
  text-align: left;
}

.eventBoxContainer p {
  text-align: justify;
  font-size: 18px;
}

.eventGoing {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
}
.cta p {
  margin-top: 20px;
  width: 800px;
  font-size: 18px;
  margin-bottom: 20px;
}

.anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.anchor li {
  list-style-type: none;
  cursor: pointer;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: fit-content;
  color: rgb(86, 145, 255);
  font-size: 18px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.modal-content {
  background: #fff;
  border-radius: 24px;
  width: 800px;
  max-height: 90%;
  padding: 30px;
  overflow-y: auto;
}
 .modalData h4{
font-size: 16px;
font-weight: 600;
 }
 .modalHeader h2{
  font-size: 25px;
 }
 .modal-content p{
  text-align: justify;
 }
.mainModalContent {
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-content::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  top: 500px;
}

/* Handle */
.modal-content::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}

/* Handle on hover */
.modal-content::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
.eventListItems li{
  font-size: 16px;
  font-weight: 400 !important;
 }

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: 800;
  cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

.eventForm {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  width: 100%;

  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.eventGoing h3 {
  font-weight: 500;
}

.eventList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 60px;
}
.contact-form {
  height: 100%;
  width: 100%;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.makeGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px; /* Adjust the gap as needed */
}
.make2Grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px; /* Adjust the gap as needed */
}

.inputFields {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 10px;
}

input {
  font-family: "Poppins", sans-serif !important;
  border: none;
  outline: none;
  background: #eee;
  padding: 15px;
  border-radius: 6px;
  width: 100%;
  font-size: 100%;
}

input[type="file"] {
  position: relative;
  color: #757575;
}

input[type="file"]::file-selector-button {
  width: 180px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 24px;
  left: 25px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 23px;
  left: 50px;
  color: #0964b0;
  content: "Recent Image";
}
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.submit {
  width: 200px;
  font-family: "Poppins", sans-serif;
  background-color: #ffbd39;
  border-radius: 6px;
  border-width: 0;
  font-weight: 500;
  color: black;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  transition: transform 300ms 0s cubic-bezier(0, 0.23, 0.29, 2.45);
}

.submit:hover {
  cursor: pointer;
  background: #ffbd39;
  transform: translateY(-2px);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.eventList li {
  font-size: 20px;
}
@media (max-width: 1000px) {
  .eventBoxContainer {
    padding: 20px;
  }
  .eventBoxContainer img {
    height: 280px;
  }
  .eventImg {
    width: 100%;
  }
  .eventBoxContainer p {
    font-size: 16px;
  }
  .cta p {
    width: 100%;
  }
  .eventGoing {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  header {
    height: 300px;
    width: 100%;
    background-image: url("./../asset/eventBg.jpg");
    background-size: cover;
  }
  .upcomeSection {
    margin: 0 40px;
  }
  .eventBoxContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
  }
  .eventBoxContainer img {
    height: 250px;
    border-radius: 8px;
  }
  .eventImg {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .eventPoster {
    width: 100%;
  }

  .flexImg {
    width: 100%;
    gap: 10px;
  }
  .flexImg img {
    height: 300px;
  }
  .eventContent {
    gap: 5px;
    padding: 10px 0px 0px 0px;
  }
  .AlleventHeading h1 {
    font-size: 28px;
  }
  .eventList {
    margin: 0 40px;
  }

  .eventGoing {
    border-radius: 10px;
    padding: 50px 30px;
  }
  .cta h2 {
    font-size: 30px;
  }
  .cta p {
    font-size: 16px;
  }

  .anchor li {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .modal {
    padding: 10px;
  }

  .modal-content {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
  }

  .mainModalContent {
    margin-top: 15px;

  }
  .modalData h4{
    font-size: 14px;
    font-weight: 600;
     }
     .modalData p  {
      font-size: 14px;
       }
       .eventListItems li{
        font-size: 14px;
        font-weight: 400 !important;
       }
       .modal-content{
        font-size: 14px;
       }
       .modalData h4{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 3px;
         }
         .cta h2 {
          font-size: 18px;
        }
        .cta p {
          font-size: 14px;
        }
      
        .anchor li {
          font-size: 14px;
        }
        .modalHeader h2{
          font-size: 20px;
         }
         .anchor li {
          border-bottom-width: 1px;
        }
}

@media (max-width: 550px) {
  .inputFields {
    gap: 8px;
  }
  input {
    padding: 10px;
    border-radius: 4px;
  }
  
  input[type="file"] {
    position: relative;
    color: #757575;
  }
  
  input[type="file"]::file-selector-button {
    width: 50%;
  }
  
  /* Faked label styles and icon */
  input[type="file"]::before {
    top: 20px;
    left: 18px;
    height: 20px;
    width: 20px;
  }
  
  input[type="file"]::after {
    top: 19px;
    left: 40px;
    color: #0964b0;
  }  
  .submit {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #ffbd39;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.3;
    align-self: center;
  
  }
  .makeGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px; /* Adjust the gap as needed */
  }
  .make2Grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 8px; /* Adjust the gap as needed */
  }


}


@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  .upcomeSection {
    margin: 0 20px;
    padding: 20px 0px;
    gap: 30px;
  }
  .eventBoxContainer {
    padding: 20px;
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .eventBoxContainer {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
  }
  .eventBoxContainer img {
    height: 220px;
    border-radius: 6px;
  }
  .flexImg img {
    height: 250px;
  }
  .eventContent {
    gap: 5px;
    padding: 10px 0px 0px 0px;
  }
  .AlleventHeading h1 {
    font-size: 22px;
  }
  .eventBoxContainer p {
    font-size: 14px;
  }
  .eventBoxContainer h3 {
    font-size: 16px;
  }
  .eventList {
    margin: 0 20px;
  }
  .eventList li {
    font-size: 16px;
  }

  .eventGoing {
    border-radius: 10px;
    padding: 30px 20px;
  }

  
}

